<%- include("partials/header") -%>
<link rel='stylesheet' href='home/style.css' type='text/css' media='all'/>
<style>
  body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .navbar{
    font-size: 1.5rem;
  }
  .navbar-brand{
    font-size: 2rem;;
  }
</style>
</head>
  <body>
  <%- include("partials/navbar") -%>


<div class="jumbotron text-center mt-5">
  <div class="container">
    <div class="row portfoliogrid">
      <h1 style="text-align: center; font-size:100px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="mb-5">Categories</h1>
      <article class="col hentry ">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem1"><img id="box"
                src="home/photos/corona.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem1" rel="bookmark"><div class="alltxt">Alzhemiers</div></a></h2>

        </header>
      </article>

      <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
           
            <a href="/category/problem2"><img src="home/photos/ebola.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" id="box" alt="p1" />
            </a>
            
          </div>
          <h2 class="entry-title"><a href="/category/problem2" rel="bookmark"><div class="alltxt">Cancer</div></a></h2>

        </header>
      </article>

      <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem3"><img id="box"
                src="home/photos/maleria.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem3" rel="bookmark"> <div class="alltxt">Corona</div></a></h2>

        </header>
      </article>

      <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem4"><img id="box"
                src="home/photos/Alzheimer.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem4" rel="bookmark"><div class="alltxt">Handling Grief</div> </a></h2>

      </article>

      <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem5"><img id="box"
                src="home/photos/fever.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem5" rel="bookmark"><div class="alltxt">Mental Health</div></a>
          </h2>

        </header>
      </article>

      <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem6"><img id="box"
                src="home/photos/headache.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem6" rel="bookmark"><div class="alltxt">Old Age</div></a></h2>

        </header>
      </article>
                  <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem7"><img id="box"
                src="home/photos/corona.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem7" rel="bookmark"><div class="alltxt">Self-Case</div></a></h2>

        </header>
      </article>
      <article class="hentry">
        <header class="entry-header">
          <div class="entry-thumbnail">
            <a href="/category/problem8"><img id="box"
                src="home/photos/corona.jpg"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                alt="p1" /></a>
          </div>
          <h2 class="entry-title"><a href="/category/problem8" rel="bookmark"><div class="alltxt"> Specially Abled</div></a></h2>

        </header>
      </article>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>